%footer.new_signup_footer
  .new_signup_footer__cautions
  %p
    %a プライバシーポリシー
    %a メルカリ利用規約
    %a 特定商取引に関する表示

  .new_signup_footer__img 
    = image_tag "logo-gray.svg"
  %p
    %a © 2019 Mercari