.top_page
  %header.top_page_header
    = render "header"
  .top_page_info_area
    = image_tag "banner-camp.jpg", class: "top_page_info_area__banner"
  .top_page_main
    = render "top_page_main"
  = render "footer"
  -#  %footer.top_page_footer
