.purchase_confirmation_page
  .purchase_confirmation_page_container
    .purchase_confirmation_page_container_header
      .purchase_confirmation_page_container_header__img
        = image_tag "logo.svg"
    .purchase_confirmation_page_container_main
    .purchase_confirmation_page_container_footer
      .bottom__attention
        %span プライバシーポリシー
        %span メルカリ利用規約
        %span 特定商取引に関する表記
      .bottom__logo
        = image_tag 'logo-gray.svg'
      .bottom__copy_light
        &copy;2019 Mercari