.detail_item{
  background-color: $gray;
  .main{
    background-color: $white;
    width: 700px;
    margin:40px auto;
    padding: 24px 40px 40px;
    &_header{
      h2{
        color: #333;        
        font-size: 24px;
        font-weight: bold;
        text-align:center;
        padding-bottom: 24px;
      }
    }
    &_item-detail{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &_images{
        &__big{
          img{
            width: 300px;
            height: 300px;
          }
        }
        &__small{
          display: flex;
          flex-wrap: wrap;
          width: 300px;
          li:first-child {
            img {
              opacity: 1;
            }
          }
          li{
            list-style:none;
            img{
              width: 60px;
              height: 60px;
              opacity: 0.5;
            }
          }
        }
      }
      &_table{
        width: 300px;
        display: flex;
        flex-direction: column;
        &__row{
          display: flex;
          flex-direction: row;
          .cell {
            border: 1px solid #f5f5f5;
            padding: 8px;
            font-size: 14px;
            color: #333;
            min-height: 46px;
            display:flex;
            align-items: center;
          }
        }
        &__row > .cell:first-child{
          background-color: #fafafa;
          width: 35%;
        }
        &__row > .cell:last-child{
          width: 65%;
          font-size: 13px;
          line-height: 18px;
          a {
            text-decoration: none;
            color: $blue;
            &:hover {
              text-decoration: underline;
              opacity: 0.8;
            }
          }
        }
        .listing-person{
          display:flex;
          flex-direction: column;
          &_name{
            color: $blue;
            margin: 10px 0;
            &:hover{
              text-decoration: underline;
            }
          }
          &_evelute-box{
            display: flex;
            flex-direction: row;
            &--icon-good{
              display: flex;
              margin-right: 5px;
            }
            &--icon-soso{
              display: flex;
              margin-right: 10px;
            }
            &--icon-bad{
              display: flex;
            }
          }
        }
      }
    }
    &_price {
      padding: 30px 0;
      display: flex;
      justify-content: center;
      &__display {
        font-weight: bold;
        font-size: 30px;
      }
      &__delivery_fee {
        display: flex;
        align-items: flex-end;
        padding-left: 35px;
        .tax {
          font-size: 12px;
        }
      }
    }
    &_balloon_area {
      text-align: center;
      .main_stock_money {
        display: inline-block;
        background: #05B0B4;
        color: white;
        font-size: 14px;
        padding: 15px 10px;
        border-radius: 5px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 12px;
        &__triangle {
          position: absolute;
          bottom: -20px;
          right: 50%;
          width: 0;
          border-top: 10px solid #05B0B4;
          border-right: 10px solid rgba(100, 100, 100, 0);
          border-left: 10px solid rgba(100, 100, 100, 0);
          border-bottom: 10px solid rgba(100, 100, 100, 0);
        }
      }
    }
    &_purchase_button {
      display: block;
      width: 100%;
      height: 60px;
      background: $red;
      text-decoration: none;
      color: white;
      font-size: 24px;
      text-align: center;
      line-height: 65px;
      font-weight: bold;
      &--disable{
        background-color: #888;
      }
    }
    &_item_description {
      margin: 50px 0;
      font-size: 18px;
      line-height: 26px;
      &__top {
        margin-bottom: 30px;
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        &--right {
          width: 310px;
          display: flex;
          justify-content: space-between;
          div {
            background: $gray;
            border-radius: 15px;
            padding: 5px 15px;
            cursor: pointer;
            &:hover {
              opacity: 0.6;
            }
            i {
              color: #aaa;
            }
          }
        }
      }
      .safty_effort_link {
        color: $blue;
        text-decoration: none;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .user_comments{
    background-color: $white;
    height: 100%;
    width: 700px;
    margin: 0 auto;
    padding: 30px 10px;
    &__bix{
      height: 90px;
      width: 550px;
      background-color: $gray;
      border-radius: 20px;
      padding: 15px;
      position: relative;
      margin: 0 0 80px 80px;
      .user_icon{
        width: 40px;
        height: 40px;
        background-color: #aa262a;
        position: absolute;
        left: -55px;
        top: -20px;
        border-radius: 90px;
        img{
          width: 40px;
          height: 40px;
          border-radius: 90px;
        }
      }
      .user_name{
        font-weight: bold;
        position: absolute;
        left: 0px;
        top: -20px;
      }
      .user_comment{
        p{
          font-size: 15px;
        }
        i{
          margin-top: 20px;
        }
        &__timestamp{
          color: #888;
          font-size: 13px;
        }
      }
    }
    .adjacent_item{
      display: flex;
      justify-content: space-between;
      .return_item{
        position: relative;
        top: 60px;
        font-size: 13px;
        a{
          color: #0099e8;
        }
        i{
          position: absolute;
          left: -10px;
          top: 1px;
          color: #0099e8;
        }
      }
      .next_item{
        position: relative;
        top: 60px;
        font-size: 13px;
        a{
          color: #0099e8;
        }
        i{
          position: absolute;
          right: -7px;
          top: 1px;
          font-size: 13px;
          color: #0099e8;
        }
      }
    }
  }
  .sns_login{
    background-color: $white;
    width: 700px;
    height: 150px;
    margin: 50px auto 0;
    padding-top: 45px;
    &__box{
      display: flex;
      justify-content: center;
      height: 60px;
      width: 700px;
      &--icon-facebook{
        i{
         font-size: 50px;
         color: #385185;
         font-weight: 700px;
        }
      }
      &--icon-twitter{
        i{
          font-size: 50px;
          margin: 0 10px;
          color: #5d9dc9;
        }
      }
      &--icon-pinterest{
        i{
          font-size: 50px;
          color: #aa262a;
        }
      }
    }
  }
  .other_listing, .item_listing {
    width: 700px;
    margin: 30px auto 50px;
    h2 {
      font-size: 22px;
      margin-top: 40px;
      a {
        color: $blue;
        text-decoration: none;
        &:hover {
          opacity: 0.6;
          text-decoration: underline;
        }
      }
    }
    .main_block_new_items_area{
      width: 100%;
      @include  one_item();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
    }
  }
}