.alert-messages{
  width: 100%;
  background-color: rgba(255, 245, 159, 0.551);
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 235, 57, 0.551);
  ul{
    padding: 20px 20px 20px 40px;
    
    li{
      color: rgba(206, 73, 40, 0.945);
      line-height: 22px;
    }
  }
}