.user-my-page{
  .left-column{
    .menu-list,
    .melpay,
    .setting{
      @include disable_link_decoration();
      &__item{
        min-height: 48px;
        width: 280px;
        
        &__arrow{
          float: right;
          color: rgb(204, 204, 204);
        }  
      }
      .active_link:hover{
        li{
          background-color: $red;
          color: $white;
          font-weight:bold;
        }
      }
    }
    h3{
      margin: 40px auto 8px ;
    }
  }
}