.new_item_button{
  @include disable_link_decoration();
  .new_item_button__content{
    width: 160px;
    height: 160px;
    background-color: $red;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:hover{
      background-color: $blue;
      transform: scale(2.2) rotate(2160deg);
      transition: 0.65s;
    }
    p{
      color: $white;
      font-size: 24px;
      margin-bottom: 10px;
    }
    i{
      color: $white;
      font-size: 54px;
    }
  }
}

