.new_signup_page4_main{
  height: 100%;

  .new_signup_page4_main_view{
    height: 100%;
    width: 50%;
    margin: auto;
    background-color: $white;
    padding-bottom: 50px;

    h1{
      padding: 40px;
      text-align: center;
      font-size: 21px;
      border-bottom: solid 1px $gray;
      margin-bottom: 55px;
    }
    
    &__input{
      width: 50%;
      margin: auto;

      span{
        font-size: 14px;
        font-weight: bold;
        top: 50px;
      }

      input{
        height: 50px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        border-radius: 5px;
        padding: 15px;
      }

      .common_input{
        margin-bottom: 50px;
      }

      .prefectures_select{
        position: relative;
        select{
          height: 50px;
          width: 100%;
          -webkit-appearance: none;
          position: relative;
          z-index: 1;
          padding: 15px;
          font-size: 15px;
          margin: 10px 0 40px 0;
          background-color: $white;
        }

        .chevron_down{
          position: absolute;
          z-index: 2;
          top: 25px;
          right: 10px;
          pointer-events: none;
        }
      }

      button{
        width: 100%;
        height: 50px;
        background-color: $red;
        color: $white;
        font-size: 15px;
      }
    }
  }
}