.new_signup_page2_main{
  height: 1720px;
  
  .new_signup_page2_main_view{
    background-color: $white;
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  h1{
  padding: 30px;
  text-align: center;
  font-size: 20px;
  border-bottom: solid 1px $gray;
  height: 90px;
  margin-bottom: 55px;
  }

  &__input{
    width: 720px;
    display: block;
    margin: auto;
  }

  span{
    font-size: 14px;
    font-weight: bold;
    margin-left: 195px;
  }

  .required_red{
    background-color: $red;
    color: $white;
    border-radius: 2px;
    padding: 5px;
    font-size: 10px;
  }

  input{
    display: block;
    height: 50px;
    width: 330px;
    font-size: 15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
  }

  h2{
    margin-left: 195px;
    font-weight: bold;
  }

  p{
    display: inline-block;
    margin: 10px 0 40px 195px; 
    font-size: 14px;
    line-height: 20px;
  }
    
  .birthdate{
    margin-left: 195px;
    height: 50px;

    &__box{
      width: 80px;
      height: 100%;
      position: relative;
      float: left;
    }
      
    select{
      margin-top: 10px;
      display: block;
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      padding: 10px;
      font-size: 15px;

      option{
        width: 50px;
      }
    }

    .birthdate__font{
      float: left;
      margin-top: 25px;
      padding: 5px;
    }

    .chevron_down{
      position: absolute;
      z-index: 2;
      top: 25px;
      right: 10px;
      pointer-events: none;
    }
  }
  .attention_font{
    margin-top: 20px;
    opacity: 0.5;
  }
  .new_signup_page2_main_view__check{
    height: 300px;
    widows: 200%;
    margin: auto;
  
    .g-recaptcha_form_group{
      margin: 0 0 40px 195px;
  }
    .new_signup_page2_main_view__rule{
      margin-left: 180px;
      margin-right: 200px;
      font-size: 15px;
      text-align: center;
      line-height: 20px;
      margin-bottom: 40px;
    }
    .new_signup_page2_main_view__next_page_buttom{
      background-color: $red;
      color: $white;
    }
    a{
      color: #0099e8;
      font-size: 15px;
    }
    .new_signup_page2_main_view__person_information_font{
      margin-left: 350px;
    }
  }
}