.payment_wrapper{
  width: 100%;
  background-color: $gray;
  margin: 0;
  padding: 0;
  .payment_main_view{
    background-color: $white;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
    
    h1{
      padding: 30px;
      text-align: center;
      font-size: 22px;
      border-bottom: solid 1px $gray;
    }
  }
}