@mixin ul-style() {
  display: block;
  list-style: none;
  width: 220px;
  background: white;
  border-bottom: $border-design;
}
.header_container_bottom__category {
  &_list1 {
    display: none;
  }
  &:hover {
    .header_container_bottom__category_list1 {
      @include ul-style();
      font-weight: normal;
      position: absolute;
      border-right: $border-design;
      border-left: $border-design;
      top: 40px;
      left: 0;
      li {
        padding: 5px 10px;
        ul {
          display: none;
        }
        &:hover {
          background: $red;
          color: white;
          border-right: 0px;
        ul {
            @include ul-style();
            border-right: $border-design;
            height: 650px;
            color: $black;
            position: absolute;
            top: 0px;
            left: 219px;
            li {
              height: 33px;
              line-height: 33px;
              ul {
                display: none;
              }
              &:hover {
                background: $gray;
                color: $black;
                border-right: 0px;
                ul {
                  @include ul-style();
                  position: absolute;
                  width: 300px;
                  top: 0px;
                  left: 220px;
                  height: 650px;
                  border-right: $border-design;
                  li {
                  background: white;
                  }
                  li:hover {
                    background: $gray;
                    color: $black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
