.page_header {
  width: 100%;
  height: 100px;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.header_container {
  width: 1020px;
  margin: 0 auto;
  background-color: $white;
  &_top {
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    line-height: 60px;
    width: 100%;
    &_left {
      width: 15%;
      height: inherit;
      text-align: center;
      img {
        display: inline-block;
        margin-top: 13px;
        margin-right: 20px;
        width: 90%;
      }
    }
    &_right {
      width: 85%;
      height: inherit;
      .header_search {
        width: 100%;
        height: inherit;
        position: relative;
        &__input {
          display: inline-block;
          width: 100%;
          height: 40px;
          background: $gray;
          font-size: 14px;
          border-radius: 5px;
          padding: 5px;
          border: solid;
          border-color: #ccc;
          border-width: 1px;
        }
        &__submit {
          display: inline-block;
          width: 10%;
          height: inherit;
          display: none;
        }
        .search_label {
          text-align: center;
          color: rgba(0, 0, 0, 0.6);
          line-height: 40px;
          display: inline-block;
          width: 25px;
          height: 25px;
          position: absolute;
          top: 12px;
          right: 3px;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }
  &_bottom {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
    &__category {
      p:hover {       
          color: $blue;
      }
      cursor: pointer;
      font-weight: bold;
      width: 18%;
      position: relative;
    }
    &__bland {
      cursor: pointer;
      font-weight: bold;
      width: 18%;
      p:hover {
          color: $blue;
      }
    }
    &__center {
      width: 30%;
    }
    &__info {
      cursor: pointer;
      width: 10%;
      p:hover {
        color: $blue;
        i {
          color: $blue;
        }
      }
    }
    &__mypage {
      cursor: pointer;
      width: 10%;
      text-align: right;
      &_image {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        left: 0px;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      p:hover {
        color: $blue;
        i {
          color: $blue;
        }
      }
    }
    &__todo {
      cursor: pointer;
      width: 14%;
      p:hover {
        color: $blue;
        i {
          color: $blue;
        }
      }
    }
    &__new_user {
      width: 34%;
      display: flex;
      justify-content: flex-end;
     .registration {
       display: inline-block;
       width: 100px;
       height: 35px;
       line-height: 35px;
       background: $red;
       color: white;
       text-align: center;
       border-radius: 5px;
       margin-right: 10px; 
       &:hover {
         color: white;
       }
     }
     .session {
      display: inline-block;
       width: 80px;
       height: 35px;
       line-height: 35px;
       border:1px solid $blue;
       color: $blue;
       text-align: center;
       border-radius: 5px;
       &:hover {
         background: $blue;
         color: white;
         transition: 0.3s;
       }
     }
    }
    .fa-tag, .fa-list {
      color: $red;
    }
    .fa-bell-o, .fa-check {
      color:#888;
    }
  }
}
  



