.top_page_main_container {
  text-align: center;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  h1 {
    font-size: 28px;
  }
  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
  .wrapper {
    text-align: center;
    width: 100%;
    height: 50%;
    .main_block {
      height: calc(100% - 24px - 40px);
      &_new_items {
        height: 25%;
        padding-top: 40px;
        h2 {
          color: $blue;
          font-size: 22px;
          padding-bottom: 40px;
        }
        .main_block_new_items_area {
          height: 320px;
          display: flex;
          justify-content: space-between;
          .new_item {
            width: 200px;
            height: inherit;
            background: green;
            text-align: left;
            color: $black;
            &:hover {
              opacity: 1;
              color: $black;
             text-decoration: none;
            }
            &__image_area {
              height: 70%;
            }
            &__text_area {
              height: 30%;
              padding: 18px 15px 10px;
              background: white;
              font-size: 14px;
              &--title {
                height: 67%;
                background: white;
              }
              &--price {
                height: 33%;
                background: white;
                font-weight: bold;
                span {
                  font-weight: normal;
                  float: right;
                }
              }
            } 
          }
        }
        .link_to_items {
          padding-top: 10px;
          text-align: right;
          font-size: 16px;
        }
      }
    }  
  }
}